{{ form_start(form) }}
    {{ form_row(form.data) }}
    {{ form_row(form.wartosc) }}
    {# Dodaj pozostałe pola zgodnie z Twoją encją Zamowienie #}
<button type="submit">Zapisz</button>
{{ form_end(form) }}
